
.calculate-button-container {
    text-align: center;
    margin-top: 1rem; 
  }
h1{
    text-align: center;
    margin: 50px;
}
.calculate-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.calculate-button:hover {
    background-color: #0056b3;
}
  