.suggestion-container{
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    margin-top: 20px;
    margin-left: 5.5%;
}
.suggestion-container img{
    width: 90%;
    border-radius: 10px;
}
@media screen and (max-width: 600px) {
    .suggest{
        text-align: center;
        display: grid;
        
    }
}